repositories:
# Stable repo of official helm charts
- name: "stable"
  url: "https://kubernetes-charts.storage.googleapis.com"
# Cloud Posse incubator repo of helm charts
- name: "cloudposse-incubator"
  url: "https://charts.cloudposse.com/incubator/"


releases:

################################################################################
## NGINX Ingress Controller ####################################################
################################################################################

#
# References:
#   - https://github.com/helm/charts/blob/master/stable/nginx-ingress/values.yaml
#
- name: "ingress"
  namespace: "kube-system"
  labels:
    chart: "nginx-ingress"
    repo: "stable"
    component: "ingress"
    namespace: "kube-system"
    vendor: "kubernetes"
    default: "true"
  chart: "stable/nginx-ingress"
  version: "0.25.1"
  wait: true
  values:
    - controller:
        image:
          repository: "quay.io/kubernetes-ingress-controller/nginx-ingress-controller"
          ### Optional: NGINX_INGRESS_IMAGE_TAG; e.g. 0.17.1
          tag: '{{ env "NGINX_INGRESS_IMAGE_TAG" | default "0.17.1" }}'
          pullPolicy: "IfNotPresent"
        ### Optional: NGINX_INGRESS_REPLICA_COUNT; Used only if `kind=Deployment` e.g. 4
        replicaCount: '{{ env "NGINX_INGRESS_REPLICA_COUNT" | default "4" }}'
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "50m"
            memory: "128Mi"
        ## Optional: NGINX_INGRESS_KIND; Valid values: DaemonSet or Deployment
        kind: '{{ env "NGINX_INGRESS_KIND" | default "Deployment" }}'
        defaultBackendService: "kube-system/ingress-backend-default"
        config:
          custom-http-errors: 404,500,502,503,504
        service:
          annotations:
            ### Required: NGINX_INGRESS_HOSTNAME; e.g. ingress.us-west-2.cloudposse.org
            external-dns.alpha.kubernetes.io/hostname: '{{ env "NGINX_INGRESS_HOSTNAME" }}'
            ### Optional: NGINX_INGRESS_TTL; e.g. 60
            external-dns.alpha.kubernetes.io/ttl: '{{ env "NGINX_INGRESS_TTL" | default "60" }}'
        stats:
          enabled: {{ env "NGINX_INGRESS_METRICS_ENABLED" | default "false" }}
        metrics:
          enabled: {{ env "NGINX_INGRESS_METRICS_ENABLED" | default "false" }}
      ### Regexp used to map
      ### 8080:default/example-tcp-svc:9000,8081:staging/example-tcp-svc:9000
      ### to
      ### 8080: default/example-tcp-svc:9000
      ### 8081: staging/example-tcp-svc:9000
      ### Optional: NGINX_INGRESS_TCP; e.g. 8080:default/example-tcp-svc:9000,8081:staging/example-tcp-svc:9000
      tcp:
      {{- range env "NGINX_INGRESS_TCP" | splitList "," }}
        {{ regexReplaceAll "(\\d*:)(.*)" . "$1 $2" }}
      {{- end }}
      ### Regexp used to map
      ### 8080:default/example-udp-svc:9000,8081:staging/example-udp-svc:9000
      ### to
      ### 8080: default/example-udp-svc:9000
      ### 8081: staging/example-udp-svc:9000
      ### Optional: NGINX_INGRESS_UDP; e.g. 8080:default/example-udp-svc:9000,8081:staging/example-udp-svc:9000
      udp:
      {{- range env "NGINX_INGRESS_UDP" | splitList "," }}
        {{ regexReplaceAll "(\\d*:)(.*)" . "$1 $2" }}
      {{- end }}

      defaultBackend:
        enabled: false
      rbac:
        ### Optional: RBAC_ENABLED;
        create: {{ env "RBAC_ENABLED" | default "false" }}
      serviceAccount:
        ### Optional: RBAC_ENABLED;
        create: {{ env "RBAC_ENABLED" | default "false" }}
        ### Optional: NGINX_INGRESS_SERVICE_ACCOUNT_NAME;
        name: '{{ env "NGINX_INGRESS_SERVICE_ACCOUNT_NAME" | default "" }}'

## Workaround until https://github.com/kubernetes/ingress-nginx/pull/2989 is merged
    - controller:
        customTemplate:
          configMapName: "ingress-nginx-ingress-controller"
          configMapKey: "template"
  set:
  - name: "controller.config.template"
    file: ./values/ingress.nginx.template
## Workaround until https://github.com/kubernetes/ingress-nginx/pull/2989 is merged

- name: "ingress-backend"
  namespace: "kube-system"
  labels:
    chart: "nginx-default-backend"
    component: "ingress"
    namespace: "kube-system"
    vendor: "kubernetes"
    default: "true"
  chart: "cloudposse-incubator/nginx-default-backend"
  version: "0.2.2"
  wait: true
  values:
    - nameOverride: default
      ### Optional: NGINX_INGRESS_BACKEND_REPLICA_COUNT; e.g. 2
      replicaCount: '{{ env "NGINX_INGRESS_BACKEND_REPLICA_COUNT" | default "2" }}'
      resources:
        limits:
          cpu: "200m"
          memory: "256Mi"
        requests:
          cpu: "50m"
          memory: "128Mi"
      errors:
        configmap: default
        default:
          email: '{{ env "NGINX_INGRESS_SUPPORT_EMAIL" | default "hello@cloudposse.com" }}'
          site: /
        client:
          - "404"
        server:
          - "500"
          - "502"
          - "503"
          - "504"

#######################################################################################
## ingress-monitoring                                                                ##
## Integrates kube-prometheus and grafana with nginx ingress                         ##
#######################################################################################

#
# References:
#   - https://github.com/coreos/prometheus-operator/tree/master/helm/kube-prometheus
#   - https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus
#   - https://prometheus.io/docs/alerting/configuration
#   - https://medium.com/@timfpark/simple-kubernetes-cluster-monitoring-with-prometheus-and-grafana-dd27edb1641
#   - https://www.weave.works/blog/monitoring-kubernetes-infrastructure
#   - https://www.datadoghq.com/blog/how-to-collect-and-graph-kubernetes-metrics
#   - https://grafana.com/grafana
#   - https://github.com/helm/charts/tree/master/stable/grafana
#
- name: "ingress-monitoring"
  namespace: "monitoring"
  labels:
    chart: "monochart"
    component: "monitoring"
    namespace: "monitoring"
    vendor: "cloudposse"
    default: '{{ env "NGINX_INGRESS_METRICS_ENABLED" | default "false" }}'
  chart: "cloudposse-incubator/monochart"
  version: "0.4.0"
  wait: true
  values:
  - prometheusRules:
      nginx-ingress:
        labels:
          prometheus: kube-prometheus
        groups:
        - name: nginx-ingress.rules
          rules:
          - alert: NginxIngressControllerError
            annotations:
              description: Nginx ingress controller error
              summary: NginxIngressControllerError
            expr: nginx_ingress_controller_requests > {{ env "NGINX_INGRESS_METRICS_CONTROLLER_ERROR_ALERT" | default "100000" }}
            labels:
              severity: warning

    serviceMonitors:
      nginx-ingress:
        labels:
          prometheus: kube-prometheus
        selector:
          matchLabels:
            app: nginx-ingress
            component: controller
        namespaceSelector:
          matchNames:
          - kube-system
        endpoints:
          - port: "metrics"
            interval: 15s

    configMaps:
      dashboards:
        enabled: true
        labels:
          grafana_dashboard: "true"

  set:
  - name: "configMaps.dashboards.files.nginx\\.json"
    file: https://raw.githubusercontent.com/cloudposse/grafana-dashboards/{{ env "GRAFANA_DASHBOARDS_VERSION" | default "1.0" }}/nginx-ingress/nginx.json
